.Post {
    justify-content: center !important;
    align-items: center !important;
    background: rgb(193, 193, 193);
    background: linear-gradient(
        90deg,
        rgba(193, 193, 193, 1) 0%,
        rgba(193, 196, 196, 1) 50%,
        rgba(205, 199, 199, 1) 100%
    );
    color: white;
    border-radius: 20px;
    margin: 2rem auto 5rem auto;
    width: 45rem;
    max-width: 100%;
    padding: 2em;
}

.TitrePost {
    box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.479);
    background-color: rgba(0, 0, 0, 0.39);
    border-radius: 10px;
    width: 50%;
    margin-left: 25%;
}

.PostContent {
    text-align: center;
}
#LikeData {
    justify-content: center;
    display: flex;
}
#LikeBorder {
    margin: auto;
    max-width: 7rem;
}
#LikeButton {
    display: flex !important;
    justify-content: center !important;
}
#LikeCount {
    font-size: 1.3rem;
    margin-right: 1rem;
}

/* Ajout de commentaire */
.add-comment svg {
    cursor: pointer;
}
/* btn ajouter (mais non possible) */
.add-comment svg.disable {
    cursor: not-allowed;
}
/* btn ajouter */
.add-comment svg.add {
    color: green;
}

/* btn annuler (replier le formulaire) */
.add-comment svg.cancel {
    color: red;
}

/* btn annuler (mais pas possible : envoi en cours) */
.add-comment svg.cancel.disable {
    color: inherit;
}
