body {
    background-color: rgb(218, 216, 216);
}
.App {
    text-align: center;
}

.App-logo {
    height: 10vmin;
    pointer-events: none;
    margin: 15px;
}

.App-header {
    background-color: #282c34;
    min-height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

.navBar {
    display: flex;
    width: 100%;
}

a {
    color: white;
}

.myNavUl {
    display: flex;
}

.myNavLi {
    list-style-type: none;
    margin: 10px;
}
